.post {
  border-bottom: 1px solid #f3f4f5;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}
.post:hover {
    background: rgba(0,0,0,.03);
}
.postContent {
    display: flex;
    overflow: hidden;
}
.post img {
    border-radius: 40px;
    height: 40px;
    margin-right: 15px;
    width: 40px;
}
.name {
    font-weight: 600;
}
.datetime {
    font-size: 13px;
    font-weight: 200;
}
.post p {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
}